<template name="signup">
	<div class="signup-container">
		<div class="signup-title">
			Hello there!
		</div>
		<div class="signup-input">
			<input class="signup-username" type="text" placeholder="Username"/>
			<input class="signup-email" type="text" placeholder="Email"/>
			<input class="signup-password" type="password" placeholder="Password"/>

			<div class="signup-terms">
				<input type="checkbox"/>
					I have read and I agree to the terms of service and customer agreement
			</div>

			<div class="signup-btn">
				SIGN UP
			</div>

			<div class="back-to-signin">
				BACK
			</div>

		</div>
			
	</div>
	
</template>
